/* Styled for iPhone @ 375px */
/* Find styling for different screen sizes in responsive css file */
/* Find root color palette and global styling in reset css file */

/* Footer Styling */
footer {
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-content: flex-end;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.25em;
    padding-top: 2.5em;
    padding-bottom: 3em;
    width: 100%;
    height: 100%;
    margin-top: auto;
}
.footer-container {
    display: flex;
    justify-content: space-evenly;
    padding-left: 20px;
    width: 100%;
}
.footer-text,
a.footer-text {
    color: var(--txt-04);
    display: flex;
    padding: 7px;
    text-decoration: none;
}
a.footer-text:hover {
    color: var(--button-hover);
    transition: all 0.75s ease;
}
