#name-picker {
    display: flex;
        flex-direction: column;
}

#name-picker button {
    -webkit-appearance: button;
    font-size: inherit;
    color: var(--accent-01);
    background: transparent;
    border: solid 2px var(--accent-01);
    padding: 0.1em;
    transition: background .4s ease, color .4s ease;
    border-radius: 3px;
    margin: auto;
}

.name-btns {
    display: flex;
}

  #nameBtn {
      width: auto;
  }

  #clearBtn {
      width: auto;
  }

  #name-picker button:hover {
    cursor: pointer;
    background: var(--button-hover);
    color: black;
  }

#classList {
    list-style-type: none;
    margin: 10px;
}

#randomName {
    color: var(--accent-03);
    font-size: 2em;
    text-align: center;
}
