/* Menu / Nav Styling */


#menu-wrapper {

}


#menu {
    position: absolute;
        right: 1em;
    display: flex;
        flex-direction: column;
}

#menu-icon {
    position: absolute;
        right: 1em;
    display: flex;
        flex-direction: column;
        justify-content: flex-end;
    height: 1em;
    width: 1em;

}

/* #menu-icon:hover {

} */

.menu-links {
    color: var(--secondary-txt);
    font-size: 0.5em;
    padding: 0.1em;
    text-decoration: none;
}


/* navMenu styling */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }