/* Global Styling */
:root{
    --accent-01: #00D0FE;
    --accent-02: #7A8AFB;
    --accent-03: #FE6949;
    --accent-03-muted: #A65446;
    --txt-01: #EDEDED;
    --txt-02: #B3B3B3;
    --txt-03: #575757;
    --background-01:#333335;
    --background-02: #181818;
    --background-03: #121212;
    --button-01: #00687F;
    --button-hover: rgba(85, 187, 255, 0.15);
}

* {
    border: 0;
    font: inherit;
    font-family: 'Red Hat Mono', monospace;
    font-size: 100%;
    margin: 0;
	padding: 0;
    vertical-align: baseline;
}
