/* Galaxy Fold */
@media only screen and (max-width: 325px) {
    #title {
    font-size: 1.75em;
  }
  #menu-icon {
  position: absolute;
    right: 1em;
    top: 1em;
  }
}

/* iPhone */
@media only screen and (max-width: 375) {

}

/* Surface Duo / Tablet */
@media only screen and (min-width: 540px) {
  header {
    padding: 0.5em 0 0.5em 0;
  }
  #title {
    font-size: 3em;
  }
  #menu-icon {
    height: 1.25em;
    width: 1.25em;
    position: absolute;
      right: 1.5em;
      top: 1.75em;

  }
  #time-zone-container {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .time-zone-identifier,
  .time {
    font-size: 0.75em;
    padding: 0.025em 0.5em;
  }
  #timer-container {
    margin-top: 0.75em;
    margin-bottom: 2.5em;
  }

}

/* Surface Due / iPad / Tablet ONLY */
@media only screen and (min-width: 540px) and (max-width: 768px) {

  .modules {
    height: 15em;
    width: 15em;
    margin: 0.5em;
  }
}

/* iPad / Tablet */
@media only screen and (min-width: 768px) {

  header {
    padding: 0.5em 0 0.5em 0;
  }
  #title {
    font-size: 3.5em;
  }
  #menu-icon {
    height: 1.5em;
    width: 1.5em;
    position: absolute;
      right: 1.5em;
      top: 2em;
  }
  #time-zone-container {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .time-zone-identifier,
  .time {
    font-size: 0.75em;
    padding: 0.025em 0.5em;
  }
  #timer-container {
    margin-top: 0.75em;
    margin-bottom: 2.5em;
  }
}

/* Laptop / NestHub */
@media only screen and (min-width: 1024px) {

}

/* Laptop / NestHubMax */
@media only screen and (min-width: 1024px) {

}

/* Laptop large */
@media only screen and (min-width: 1440px) {

}

/* Destop large */
@media only screen and (min-width: 2560px) {

}
