/* Header Styling */
header {
    background: var(--darkest);
    color: var(--accent-color);
    display: flex;
    font-size: 2em;
    justify-content: center;
    margin: auto;
    padding: 1em 0 1em 0;
    width: 100%;
}

/* Body Styling */
body{
    background: var(--darker);
    color: var(--secondary-txt);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Time Zone Clock Section Styling */
.clock {
    height: auto;
    width: 100%;
}

#time-zone-container {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 2em;
}

.time-zone-identifier,
.time {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0.1em 0.5em;
    white-space: nowrap;
}

/* Class Timer Styling */
.class-timer {
    background: var(--background);
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 1em;
    font-size: 2em;
    width: 6em;
}
