* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

header {
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 2em 0 2em 0;
}

.usa-clock {
    width: 100%;
    height: auto;
}

#time-zone-container {
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 20px;
}

.time-zone-identifier,
.time {
    display: flex;
    margin: auto;
    justify-content: center;
}
