:root{
    --accent-color: #2CBDF6;
    --primary-txt: #FFFFFF;
    --secondary-txt: #B3B3B3;
    --background:#282828;
    --darker: #181818;
    --darkest: #121212;
}

* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    background: var(--darker);
    color: var(--secondary-txt);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

header {
    background: var(--darkest);
    color: var(--accent-color);
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 2em 0 2em 0;
    width: 100%;
}

.usa-clock {
    width: 100%;
    height: auto;
}

#time-zone-container {
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 20px;
}

.time-zone-identifier,
.time {
    display: flex;
    margin: auto;
    justify-content: center;
}
