/* Header Styling */
header {
    background: var(--darkest);
    font-size: 2em;
    margin: auto;
    padding: 0.25em 0 0.25em 0;
    width: 100%;
}
#title {
    color: var(--accent-color);
        opacity: 0.25;
    font-family: 'Genos', sans-serif;
    font-weight: 800;
    font-size: 2em;
    text-align: center;
}

/* Body Styling */
body{
    background: var(--darker);
    color: var(--secondary-txt);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

/* Time Zone Clock Section Styling */
.clock {
    height: auto;
    width: 100%;
}
#time-zone-container {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin: 2em;
}
.time-zone-identifier,
.time {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0.1em 0.5em;
    white-space: nowrap;
}

/* Class Timer Styling */
.class-timer {
    background: var(--background);
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 1em;
    font-size: 2em;
    width: 6em;
}
