/* find root color palette and body styling in reset css file */

#timer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
}

#timer-form {
  /* margin-bottom: 20px;*/
  display: flex;
    justify-content: center;
    align-items: center;
  position: relative;
    right: 2.5em;
  width: 2em;
}

#min,
#sec {
  padding: 0.1em 0.55em 0.1em 0.5em;
  width: 2em;
  text-align: right;
  font-size: 3.75em;
  background: transparent;
  color: var(--accent-color);
  font-weight: bold;
  border: none;
  transition: background .8s ease;
}

/* input#min {
  display: flex;
    flex-direction: row-reverse;
} */

#timer-container input:focus:not([disabled]),
#timer-container input:hover:not([disabled]) {
  background: rgba(0, 0, 0, .2);
}

#timer-colon {
  display: flex;
  font-size: 3.25em;
  position: relative;
    bottom: 0.075em;
  width: 0.025em;
}

#min {
  /* display: flex;
    flex-direction: row-reverse !important; */
  position: relative;
    left: 0.71em;
}

#sec {
  padding-right: 0;
  padding-left: 0.2em;
}

#timer-colon {

}

#controls {
  display: flex;
}

#controls button {
  -webkit-appearance: button;
  font-size: inherit;
  color: var(--accent-color);
  background: transparent;
  border: solid 2px var(--accent-color);
  padding: 0.5em;
  width: auto;
  transition: background .4s ease, color .4s ease;
  border-radius: 2px;
  margin: 0 5px;
}

#controls button:hover,
#controls button:focus {
  cursor: pointer;
  background: white;
  color: black;
}
